.firo-title.layout-3 h2.title:before {
    background-color: #ffc352;
  }
  
  .home-welcome {
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/img/c6b68-slider-1.jpg);
  }
  
  .gallery-ba-home {
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/img/gallery_ba.jpg);
  }
  
  .comming-soon {
    background-size: cover;
    background-position: center;
    /* background-image: linear-gradient(to top, #f8f9fa, rgba(255, 255, 255, 0.14), #1617022e, #fbf3e421, #ffdab67d),  */
    background-image: url(../../../assets/img/coming-soon_light.jpg);
  }
  
  @font-face {
    font-family: "Countryside";
    src: url("/assets/fonts/Countryside.ttf");
  }
  #toRemove {
    /* padding-bottom: 6%; */
  }

  #soon-con {
    margin-top: 5%;
  }
  
  .savethedate {
    font-family: 'Roboto', sans-serif;
  }

  .names {
    font-family: "Merienda", cursive;
    font-size: 250%;
    line-height: 50px;
  }

  .section-ba-1 {
    position: relative;
  }
  
  .section-ba-2 {
    background-color: #222;
    background-image: url(../../../assets/img/section-ba-1.jpg);
    background-size: cover;
    position: relative;
  }
  
  .section-ba-2 {
    background-image: url(../../../assets/img/section-ba-1.jpg);
  }
  
  .section-ba-3 {
    position: relative;
    background-color: #f1f1f1;
  }
  
  .section-ba-4 {
    background-image: url(../../../assets/img/section-ba-2.jpg);
  }
  
  .ba-light {
    background-color: #f5f4f4;
  }
  
  footer.layout-1 {
    background-color: #000;
    background-image: url(../../../assets/img/footer_1_ba.jpg);
    background-size: cover;
  }
  
  .page-title {
    background-image: url(../../../assets/img/page_title.jpg);
    background-size: cover;
    background-position: center center;
  }
  
  .page-output {
    position: relative;
  }
  
  /*# sourceMappingURL=color-1.css.map */
  